*.gem
*.rbc
/.config
/coverage
/InstalledFiles
/pkg
/test/tmp
/test/version_tmp
/tmp

# Version specifiers
# Gemfile.lock
# gems.locked
# .ruby-version
# .ruby-gemset

# Environment normalization
/.bundle
/vendor/bundle
/lib/bundler/man

# RSpec
.rspec_status
/spec/reports
/spec/examples.txt

# Documentation cache
/.yardoc
/_yardoc
/doc
/rdoc

# Logs
*.log
*.log.[0-9]*

# Databases
*.sqlite
*.db

# Foreman/Dotenv
Procfile.*
.env*

# Pry/Byebug
.pryrc
.pry_history
.byebug_history

# RVM
.rvmrc

# RuboCop
.rubocop-https?--*

# Project specific
/config/config.yml
/config/schedule.rb
